@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

.box {
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #ececec;
}
.status-bar {
    -fx-background-color: green;
    -fx-background-radius: 10 0 0 10;
}
.id {
    -fx-font-family: Roboto;
    -fx-text-fill: #aeaeae;
    -fx-font-size: 16;
}
.status {
    -fx-font-family: Roboto;
    -fx-font-size: 12;
    -fx-text-fill: #547c51;
}
.status-box {
    -fx-background-color: #eaf3de;
    -fx-background-radius: 12;
}
.top-box {
    -fx-border-color: #d5d5d5;
    -fx-border-width: 0 0 1 0;
}
.head-label {
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-text-fill: #aeaeae;
}
.info-label {
    -fx-font-family: Roboto;
    -fx-font-size: 14;

}
.booked-time {
    -fx-font-size: 10;
    -fx-text-fill: #aeaeae;
}
.cancel-btn {
    -fx-background-radius: 10;
    -fx-font-family: Roboto;
    -fx-font-size: 12;
    -fx-border-color: #d5d5d5;
    -fx-border-radius: 10;
    -fx-background-color: #ffffff;
    -fx-cursor: hand;
}
.cancel-btn:hover {
    -fx-border-color: #ff2828;
    -fx-background-color: #ff2828;
    -fx-text-fill: white;
}