@font-face {
    font-family: 'Pacifico';
    src: url('font/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

.app-background {
    -fx-background-image: url('img/bg-img.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.back-btn {
    -fx-cursor: hand;
    -fx-background-radius: 15;
}
.back-btn:hover {
    -fx-background-color: rgba(0,0,0,0.15);
}
.best-meal-title {
    -fx-font-family: 'Pacifico';
    -fx-text-fill: #33611B;
    -fx-font-size: 30;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.bookingContainer {
    -fx-background-color: transparent;
}
.text-label {
    -fx-font-family: 'Pacifico';
    -fx-font-size: 20;
    -fx-text-fill: rgba(143, 143, 143, 0.8);
}

/*pop_up*/
.box {
    -fx-background-color: white;
    -fx-background-radius: 12;
}
.pop-up-title {
    -fx-font-family: 'Roboto Condensed SemiBold';
    -fx-font-size: 18;
}
.pop-up-text {
    -fx-font-family: Roboto;
    -fx-font-size: 12;
}

.pop-up-confirm-btn {
    -fx-text-fill: white;
    -fx-background-color: #ff1c1c;
    -fx-background-radius: 12;
}
.pop-up-confirm-btn:pressed {
    -fx-background-color: #d21c1c;
}
.pop-up-close-btn {
    -fx-border-color: black;
    -fx-border-radius: 12;
    -fx-background-color: white;
    -fx-background-radius: 12;
}
.pop-up-close-btn:pressed {
    -fx-background-color: #d8d8d8;
}
.blurPane{
    -fx-background-color: rgba(0, 0, 0, 0.3);
}