@font-face {
    font-family: 'Pacifico';
    src: url('font/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('font/Roboto-Regular.ttf');
}

.app-background {
    -fx-background-image: url('img/bg-img.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.back-btn {
    -fx-cursor: hand;
    -fx-background-radius: 20;
    -fx-background-color: rgba(240, 240, 240, 0.5);
}
.back-btn:hover {
    -fx-background-color: rgba(230, 230, 230, 0.9);
}
.best-meal-title {
    -fx-font-family: 'Pacifico';
    -fx-text-fill: #33611B;
    -fx-font-size: 30;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.bookingContainer {
    -fx-background-color: transparent;
}
.text-label {
    -fx-font-family: 'Pacifico';
    -fx-font-size: 20;
    -fx-text-fill: rgba(143, 143, 143, 0.8);
}

/*pop_up*/
.box {
    -fx-background-color: white;
    -fx-background-radius: 12;
}
.pop-up-title {
    -fx-font-family: 'Roboto Condensed SemiBold';
    -fx-font-size: 18;
}
.pop-up-text {
    -fx-font-family: Roboto;
    -fx-font-size: 12;
}

.pop-up-confirm-btn {
    -fx-text-fill: white;
    -fx-background-color: #ff1c1c;
    -fx-background-radius: 12;
}
.pop-up-confirm-btn:pressed {
    -fx-background-color: #d21c1c;
}
.pop-up-close-btn {
    -fx-border-color: black;
    -fx-border-radius: 12;
    -fx-background-color: white;
    -fx-background-radius: 12;
}
.pop-up-close-btn:pressed {
    -fx-background-color: #d8d8d8;
}
.blurPane{
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
.side-bar{
    -fx-background-color: #fff;
    -fx-background-radius: 0 24 24 0;
}
.best-meal-sb{
    -fx-font-family: 'Pacifico';
    -fx-text-fill: linear-gradient(to right,#33611B,#9CE633);
    -fx-font-size: 28;
}
.side-bar-label {
    -fx-font-family: "Roboto Condensed SemiBold";
    -fx-text-fill: #b3b8b0;
    -fx-font-size: 12;
}
.side-bar-btn{
    -fx-background-color: #fafafa;
    -fx-background-radius: 12;
    -fx-text-fill: #6f756e;
    -fx-font-family: "Roboto Condensed SemiBold";
    -fx-font-size: 14;
    -fx-graphic-text-gap: 15;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 8 10 8;
    -fx-cursor: hand;
}
.side-bar-btn:hover{
    -fx-background-color: linear-gradient(to right,rgba(156,230,51,.9),rgba(65,137,28,.9));
    -fx-text-fill: #fff;
}
.side-bar-btn:disabled{
    -fx-opacity: 0.35;
    -fx-cursor: default;
}
.side-bar-btn-danger{
    -fx-background-color: rgba(201,54,54,.06);
    -fx-background-radius: 12;
    -fx-text-fill: #C93636;
    -fx-font-family: "Roboto Condensed SemiBold";
    -fx-font-size: 14;
    -fx-graphic-text-gap: 15;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 10 10 10;
    -fx-cursor: hand;
}
.side-bar-btn-danger:hover{
    -fx-background-color: #ff1000;
    -fx-text-fill: white;
}
.side-bar-line {
    -fx-background-color: #eef0ec;
}
