@font-face {
    src: url('font/Roboto-Regular.ttf');
}

@font-face {
    src: url('font/Roboto_Condensed-SemiBold.ttf');
}

.app-background {
    -fx-background-image: url("img/bg-img.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.back-btn {
    -fx-cursor: hand;
    -fx-background-radius: 15;
}
.back-btn:hover {
    -fx-background-color: rgba(0,0,0,0.1);
}
.success {
    -fx-font-family: "Roboto Condensed SemiBold";
    -fx-font-size: 30;
    -fx-text-fill: #136a13;
}

#container {
    -fx-background-radius: 100;
    -fx-background-color: #FFFFFF;
}
.head-detail {
    -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-text-fill: #b1a9a9;
}
.detail {
    -fx-font-family: Roboto;
    -fx-font-size: 15;
    -fx-text-fill: #5F5757;
}
.button {
    -fx-background-radius: 20;
    -fx-background-color: #1C9B1C;
    -fx-font-family: "Roboto Condensed SemiBold";
    -fx-font-size: 20;
    -fx-text-fill : white;
    -fx-cursor: hand;
}
.button:hover{
    -fx-background-color: #28b828;
}
.button:pressed{
    -fx-background-color: #0e680e;
    -fx-translate-y: 2;
}
.btn-box{
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 25, 0.3, 0, 4)
}